/* 
	Resets defualt browser settings
	reset.css
*/
 
 
#container {
	width:512px;
	height:350px;
	padding: 0px;
	margin-left:62px;
 	position:absolute;
	z-index:0;
	background-color: ;
	 	
}

#example {
	width:500px;
	padding:  0px;
	height:350px;
	position:absolute;
	 
}

#ribbon {
	position:absolute;
	top:-3px;	
	left:-15px;
	z-index:500; 
	
}

#frame {
	position:absolute;
	z-index:0;
	width:320 px;
	height:330px;
	top:20px;
	left: 0px;
 
	
}

#slides {
	position:relative;
	top:42px;
	left:12px;
	z-index:100;
	 	background-color:  ;
}

#slides .next,#slides .prev {
	position:absolute;
	top:107px;
	left:8px;
	width:24px;
	height:43px;
	display:block;
	z-index:101;
 
}

.slides_container {
	width:370px;
	height:250px;
	margin-left:-26px;
	margin-top:1px;
	overflow:hidden;
	position:relative;
		 
}

#slides .next {
	left:444px;
}

.pagination {
	margin:26px auto 0;
	width:100px;
 
	 
}

.pagination li {
	float:left;
	margin:0 1px;
	list-style: none;
	
}

.pagination li a {
	display:block;
	width:12px;
	height:0;
	
	padding-top:12px;
	background-image:url(../img/pagination.png);
	background-position:0 0;
	float:left;
	overflow:hidden;
}

.pagination li.current a {
	background-position:0 -12px;
}

.caption {
	position:absolute;
	bottom:0px;
	height:50px;
	padding:5px 20px 0 30px;
	Padding-top: 50px;
	background:#000;
	background:rgba(0,0,0,.5);
	width:330px;
	font-size:1.4em;
	 
	line-height:1.33;
	color:#fff;
	border-top: 1px solid #000;
	text-shadow:1px 1px 1px #FFf;
	background-color:  ;
}


a:link,a:visited {
	color:#599100;
	text-decoration:none;
}

a:hover,a:active {
	color:#599100;
	text-decoration:underline;
}